@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Add to your global CSS file or a CSS module */

.json-editor {
  background-color: transparent;
}

.json-editor .string {
  color: #F4D06F; /* Yellow for strings */
}

.json-editor .number {
  color: #7B2CBF; /* Purple for numbers */
}

.json-editor .key {
  color: #4A1F88; /* Dark purple for keys */
}

.json-editor .colon {
  color: #D1D1D1; /* Gray for colons */
}

.json-editor .warning {
  background-color: #E1B12C; /* Yellow warning background */
}

.json-editor .error-message {
  color: #F00; /* Red for error messages */
}
